@-moz-document regexp("https?://.*:1242/.*") {
/*:: Scrollbars ::*/
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #555;
}

/*:: Focus ::*/
.form-control:focus {
  border-color: #000 !important;
}

*:focus {
  outline: none !important;
}

/*:: Header ::*/
.skin-blue .main-header .navbar {
  background-color: #161616 !important;
}

/*:: Header Logo ::*/
.skin-blue .main-header .logo {
  border-bottom: transparent;
  color: #ebebeb;
  background-color: #161616;
}

.skin-blue .main-header .logo:hover {
  background-color: #232323;
}

/*:: Background ::*/
.content-wrapper {
  background-color: #111;
}

/*:: Footer ::*/
.main-footer {
  border-top: 1px solid #161616;
  color: #ebebeb;
  background: #161616;
}

/*:: Sweet Alerts ::*/
.sweet-alert {
  color: #ebebeb;
  background-color: #161616;
}

.text-muted {
  color: #ebebeb;
}

[class="sa-fix"],
.sweet-alert .sa-icon.sa-error::after,
.sweet-alert .sa-icon.sa-error::before,
.sweet-alert .sa-icon.sa-warning::after,
.sweet-alert .sa-icon.sa-warning::before,
.sweet-alert .sa-icon.sa-info::after,
.sweet-alert .sa-icon.sa-info::before,
.sweet-alert .sa-icon.sa-success::after,
.sweet-alert .sa-icon.sa-success::before,
.sweet-alert .sa-icon.sa-custom::after,
.sweet-alert .sa-icon.sa-custom::before {
  background: transparent !important;
}

/*:: Buttons ::*/
.btn-default,
.btn-primary {
  border-color: #000102;
  color: #ebebeb;
  background-color: #1d1e22;
}

.btn:focus {
  color: #ebebeb;
  background-color: #1d1e22;
}

.btn-danger,
.btn-danger:focus {
  border-color: #000102 !important;
  box-shadow: inset 0 0 0 1000px rgba(58,4,4,.66) !important;
}

.btn-danger:focus {
  background-color: #dd4b39 !important;
}

.btn-danger:hover {
  border-color: #000102 !important;
  box-shadow: inset 0 0 0 1000px rgba(13,1,1,.66) !important;
}

.btn-success,
.btn-success:focus {
  border-color: #000102 !important;
  color: #aaadaf;
  box-shadow: inset 0 0 0 1000px rgba(8, 47, 12, .66) !important;
}

.btn-success:focus {
  background-color: #00a65a !important;
}

.btn-success:hover {
  border-color: #000102 !important;
  box-shadow: inset 0 0 0 1000px rgba(5, 32, 6, .66) !important;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus,
.btn-primary:hover,
.open > .dropdown-toggle.btn-default {
  border-color: #000102 !important;
  color: #ebebeb !important;
  background-color: #2c2c33 !important;
}

/*:: Inputs ::*/
.form-control,
#gamesToRedeemInBackground {
  border-color: #000102;
  color: #ebebeb;
  background: #1d1e22;
}

#gamesToRedeemInBackground {
    font-size: 14px;
}

/*:: Enter Keys Delimeter ::*/
.input-group .input-group-addon {
  border-color: #000102;
  color: #a6acaf;
  background-color: #1e1e1e;
}

/*:: Sidebar Toggles ::*/
.main-header .navbar .nav > li > a,
.main-header .navbar .sidebar-toggle {
  color: #a6acaf;
}

.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a,
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: #232323;
}

/*:: Sidebars ::*/
.control-sidebar-dark,
.control-sidebar-dark + .control-sidebar-bg,
.skin-blue .main-sidebar {
  background-color: #161616;
}

/*:: Left Sidebar Headers ::*/
.skin-blue .sidebar-menu > li.header {
  color: #ebebeb;
  background: #161616;
}

/*:: Active Tab ::*/
.skin-blue .sidebar-menu > li.active > a {
  border-left-color: #6e7375;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: #ebebeb;
  background: #222;
}

/*:: Bot/information Status Buttons ::*/
.bg-gray,
.bg-yellow,
.bg-olive,
.bg-blue {
  color: #000 !important;
}

/*:: Text Headers ::*/
h1,
.box-header,
.breadcrumb>li,
.breadcrumb>.active {
  color: #ebebeb;
}

/*:: Boxes ::*/
.content > .box {
  border-top: none !important;
}

.box-header.with-border {
  border-bottom: none;
}

.box-header,
.box-body,
.box-footer {
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #222;
}

.box {
  border-top: 3px solid #717375;
}

.box.box-success {
  border-top-color: #016035;
}

.box.box-warning {
  border-top-color: #9e6b19;
}

.info-box {
  border: 1px solid #2b2929;
  color: #ebebeb;
  background: #161616;
}

[class*=info-box-icon] {
  border-right: 1px solid #2b2929;
  border-bottom: 1px solid #2b2929;
  box-shadow: inset 0 0 0 1000px rgba(64,64,64,.66) !important;
}

#botRow .ui-selected {
  color: #a8a8a8;
  background: #2f2e2e;
}

/*:: dropdown ::*/
.box-header > .box-tools.pull-right .dropdown-menu,
.scrollable-menu {
  border: none;
  background: #161616;
}

.scrollable-menu > li > a {
  color: #ebebeb;
}

.scrollable-menu > li > a:hover {
  color: #fff;
  background-color: #232323;
}

.dropdown-menu > .divider {
  background-color: #000102;
}

/*:: Command Reply/Sent + log ::*/
.box-content-commands,
#commandSent,
.box-content-command,
.box-content-log {
  border: 1px solid #000102;
  color: #a8a8a8;
  background: #161616;
}

#commandSent {
  border-top: none;
}

/*:: Config Page ::*/
.nav-tabs-custom,
.nav-tabs-custom > .nav-tabs > li.active:hover > a {
  color: #ebebeb;
  background: #222;
}

.nav-tabs-custom > .nav-tabs {
  border-bottom: 1px solid #000102;
}

.nav-tabs-custom > .nav-tabs > li > a {
  color: #ebebeb;
}

.nav-tabs-custom > .nav-tabs > li.active > a {
  border-right-color: #000102;
  border-left-color: #000102;
  color: #ebebeb;
  background: #222;
}

.nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #6e7375;
}
}
