/*:: Scrollbars ::*/
[class*="nightmode"] ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #555;
}

/*:: Focus ::*/
[class*="nightmode"] :focus {
  outline: 0 !important;
}

/*:: Header ::*/
[class*="nightmode"].skin-black .main-header .navbar {
  background-color: #161616 !important;
}

[class*="nightmode"].skin-blue .main-header .navbar,
[class*="nightmode"].skin-green .main-header .navbar,
[class*="nightmode"].skin-purple .main-header .navbar,
[class*="nightmode"].skin-red .main-header .navbar,
[class*="nightmode"].skin-teal .main-header .navbar,
[class*="nightmode"].skin-yellow .main-header .navbar {
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

/*:: Header Logo ::*/
[class*="nightmode"].skin-black .main-header .logo {
  border: transparent;
  color: #6e7375;
  background-color: #161616;
}

[class*="nightmode"].skin-black .main-header .logo:hover {
  background-color: #232323;
}

[class*="nightmode"].skin-blue .main-header .logo,
[class*="nightmode"].skin-green .main-header .logo,
[class*="nightmode"].skin-purple .main-header .logo,
[class*="nightmode"].skin-red .main-header .logo,
[class*="nightmode"].skin-teal .main-header .logo,
[class*="nightmode"].skin-yellow .main-header .logo {
  border-bottom: transparent;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"].skin-blue .main-header .logo:hover,
[class*="nightmode"].skin-green .main-header .logo:hover,
[class*="nightmode"].skin-purple .main-header .logo:hover,
[class*="nightmode"].skin-red .main-header .logo:hover,
[class*="nightmode"].skin-teal .main-header .logo:hover,
[class*="nightmode"].skin-yellow .main-header .logo:hover {
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .72) !important;
}

/*:: Background ::*/
[class*="nightmode"] .content-wrapper {
  background-color: #111;
}

/*:: Boxed-layout Background ::*/
[class*="nightmode"].layout-boxed {
  background: rgba(22, 22, 22, .8901960784313725);
}

/*:: Footer ::*/
[class*="nightmode"] .main-footer {
  border-top: 1px solid #161616;
  color: #6e7375;
  background: #161616;
}

[class*=nightmode] .main-footer a  {
  color: #23527c;
}

[class*=nightmode] .main-footer a:hover  {
  color: #337ab7;
}

/*:: Sweet Alerts ::*/
[class*="nightmode"] .sweet-alert {
  color: #a6acaf;
  background-color: #161616;
}

[class*="nightmode"] .text-muted {
  color: #a6acaf;
}

[class*="nightmode"] .sweet-alert .sa-icon.sa-custom::after,
[class*="nightmode"] .sweet-alert .sa-icon.sa-custom::before,
[class*="nightmode"] .sweet-alert .sa-icon.sa-error::after,
[class*="nightmode"] .sweet-alert .sa-icon.sa-error::before,
[class*="nightmode"] .sweet-alert .sa-icon.sa-info::after,
[class*="nightmode"] .sweet-alert .sa-icon.sa-info::before,
[class*="nightmode"] .sweet-alert .sa-icon.sa-success::after,
[class*="nightmode"] .sweet-alert .sa-icon.sa-success::before,
[class*="nightmode"] .sweet-alert .sa-icon.sa-warning::after,
[class*="nightmode"] .sweet-alert .sa-icon.sa-warning::before,
[class*="nightmode"] [class=sa-fix] {
  background: 0 0 !important;
}

/*:: Buttons ::*/
[class*="nightmode"] .btn-default,
[class*="nightmode"] .btn-primary {
  border-color: #000102;
  color: #aaadaf;
  background-color: #1d1e22;
}

[class*="nightmode"] .btn:focus {
  color: #6e7375;
  background-color: #1d1e22;
}

[class*="nightmode"] .btn-danger,
[class*="nightmode"] .btn-danger:focus {
  border-color: #000102 !important;
  color: #aaadaf;
  box-shadow: inset 0 0 0 1000px rgba(58, 4, 4, .66) !important;
}

[class*="nightmode"] .btn-danger:focus {
  background-color: #dd4b39 !important;
}

[class*="nightmode"] .btn-danger:hover {
  border-color: #000102 !important;
  box-shadow: inset 0 0 0 1000px rgba(13, 1, 1, .66) !important;
}

[class*="nightmode"] .btn-success,
[class*="nightmode"] .btn-success:focus {
  border-color: #000102 !important;
  color: #aaadaf;
  box-shadow: inset 0 0 0 1000px rgba(8, 47, 12, .66) !important;
}

[class*="nightmode"] .btn-success:focus {
  background-color: #00a65a !important;
}

[class*="nightmode"] .btn-success:hover {
  border-color: #000102 !important;
  box-shadow: inset 0 0 0 1000px rgba(5, 32, 6, .66) !important;
}

[class*="nightmode"] .btn-default:active,
[class*="nightmode"] .btn-default:active:focus,
[class*="nightmode"] .btn-default:focus,
[class*="nightmode"] .btn-default:hover,
[class*="nightmode"] .btn-primary:hover,
[class*="nightmode"] .open > .dropdown-toggle.btn-default {
  border-color: #000102 !important;
  color: #b9b4b4 !important;
  background-color: #2c2c33 !important;
}

/*:: Inputs ::*/
[class*="nightmode"] .form-control,
[class*="nightmode"] #gamesToRedeemInBackground {
  border-color: #000102;
  color: #a6acaf;
  background: #1d1e22;
}

/*:: Enter Keys Delimeter ::*/
[class*="nightmode"] .input-group .input-group-addon {
  border-color: #000102;
  color: #a6acaf;
  background-color: #1e1e1e;
}

/*:: Sidebar Toggles ::*/
[class*="nightmode"] .main-header .navbar .nav > li > a,
[class*="nightmode"] .main-header .navbar .sidebar-toggle {
  color: #a6acaf;
}

[class*="nightmode"].skin-black .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-black .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-black .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-black .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-black .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-black .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-black .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-black .main-header .navbar .sidebar-toggle:hover {
  background: #232323;
}

[class*="nightmode"].skin-black .main-header .navbar .navbar-custom-menu .navbar-nav > li > a,
[class*="nightmode"].skin-black .main-header .navbar .navbar-right > li > a,
[class*="nightmode"].skin-black .main-header .navbar > .sidebar-toggle {
  border: none;
}

[class*="nightmode"].skin-blue .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-blue .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-blue .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-blue .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-blue .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-blue .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-blue .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-blue .main-header .navbar .sidebar-toggle:hover {
  background: #075d8f;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"].skin-purple .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-purple .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-purple .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-purple .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-purple .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-purple .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-purple .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-purple .main-header .navbar .sidebar-toggle:hover {
  background: #3f3982;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"].skin-green .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-green .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-green .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-green .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-green .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-green .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-green .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-green .main-header .navbar .sidebar-toggle:hover {
  background: #258b4a;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"].skin-red .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-red .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-red .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-red .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-red .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-red .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-red .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-red .main-header .navbar .sidebar-toggle:hover {
  background: #b92d2d;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"].skin-yellow .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-yellow .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-yellow .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-yellow .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-yellow .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-yellow .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-yellow .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-yellow .main-header .navbar .sidebar-toggle:hover {
  background: #be7e1c;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"].skin-teal .main-header .navbar .nav .open > a,
[class*="nightmode"].skin-teal .main-header .navbar .nav .open > a:focus,
[class*="nightmode"].skin-teal .main-header .navbar .nav .open > a:hover,
[class*="nightmode"].skin-teal .main-header .navbar .nav > .active > a,
[class*="nightmode"].skin-teal .main-header .navbar .nav > li > a:active,
[class*="nightmode"].skin-teal .main-header .navbar .nav > li > a:focus,
[class*="nightmode"].skin-teal .main-header .navbar .nav > li > a:hover,
[class*="nightmode"].skin-teal .main-header .navbar .sidebar-toggle:hover {
  background: #216362;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

/*:: Sidebars ::*/
[class*="nightmode"] .control-sidebar-dark,
[class*="nightmode"] .control-sidebar-dark + .control-sidebar-bg,
[class*="nightmode"] .main-sidebar {
  background-color: #1a1a1a;
}

/*:: Left Sidebar Headers ::*/
[class*="nightmode"] .sidebar-menu > li.header {
  color: #a6acaf;
  background: #151414;
}

/*:: Active Tab ::*/
[class*="nightmode"].skin-black .sidebar-menu > li.active > a {
  border-left-color: #6e7375;
}

[class*="nightmode"] .sidebar-menu > li.active > a,
[class*="nightmode"] .sidebar-menu > li.menu-open > a,
[class*="nightmode"] .sidebar-menu > li:hover > a {
  color: #ebebeb;
  background: #272626;
  box-shadow: inset 0 0 0 1000px rgba(60, 56, 56, .1) !important;
}

/*:: Bot/information Status Buttons ::*/
[class*="nightmode"] .bg-blue,
[class*="nightmode"] .bg-gray,
[class*="nightmode"] .bg-olive,
[class*="nightmode"] .bg-yellow {
  color: #000 !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .2) !important;
}

/*:: Text ::*/
[class*="nightmode"] .box-header,
[class*="nightmode"] .box-header > .box-tools .dropdown-menu > li > a,
[class*="nightmode"] .breadcrumb > .active,
[class*="nightmode"] .breadcrumb > li,
[class*="nightmode"] h1,
[class*="nightmode"] .col-lg-4,
[class*="nightmode"] .col-lg-6 {
  color: #7d8284 !important;
}

@media (max-width: 991px) {
  .content-header > .breadcrumb {
    background: transparent !important;
  }
}

/*:: Boxes ::*/
[class*="nightmode"] .content > .box {
  border-top: none !important;
}

[class*="nightmode"] .box-header.with-border {
  border-bottom: none;
}

[class*="nightmode"] .box-body,
[class*="nightmode"] .box-footer,
[class*="nightmode"] .box-header {
  border: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #222;
}

[class*="nightmode"] .box {
  border-top: 3px solid #717375;
}

[class*="nightmode"] .box.box-success {
  border-top-color: #016035;
}

[class*="nightmode"] .box.box-warning {
  border-top-color: #9e6b19;
}

[class*="nightmode"] .info-box {
  border: 1px solid #2b2929;
  color: #a6acaf;
  background: #161616;
}

[class*="nightmode"] [class*=info-box-icon] {
  border-right: 1px solid #2b2929;
  border-bottom: 1px solid #2b2929;
  box-shadow: inset 0 0 0 1000px rgba(64, 64, 64, .66) !important;
}

[class*="nightmode"] #botRow .ui-selected {
  color: #a8a8a8;
  background: #2f2e2e;
}

/*:: dropdown ::*/
[class*="nightmode"] .box-header > .box-tools.pull-right .dropdown-menu,
[class*="nightmode"] .scrollable-menu {
  border: none;
  background: #161616;
}

[class*="nightmode"] .scrollable-menu > li > a {
  color: #a6acaf;
}

[class*="nightmode"] .scrollable-menu > li > a:hover {
  color: #b1b8bb;
  background-color: #232323;
}

[class*="nightmode"] .dropdown-menu > .divider {
  background-color: #000102;
}

/*:: Command Reply/Sent + log ::*/
[class*=nightmode] #commandSent,
[class*=nightmode] .box-content-command,
[class*=nightmode] .box-content-log {
  border: 1px solid #000102;
  color: #a8a8a8;
  background: #161616;
}

[class*="nightmode"] #commandSent {
  border-top: none;
}

/*:: Config Page ::*/
[class*="nightmode"] .nav-tabs-custom,
[class*="nightmode"] .nav-tabs-custom > .nav-tabs > li.active:hover > a {
  color: #a8a8a8;
  background: #222;
}

[class*="nightmode"] .nav-tabs-custom > .nav-tabs {
  border-bottom: 1px solid #000102;
}

[class*="nightmode"] .nav-tabs-custom > .nav-tabs > li > a {
  color: #a8a8a8;
}

[class*="nightmode"] .nav-tabs-custom > .nav-tabs > li.active > a {
  border-right-color: #000102;
  border-left-color: #000102;
  color: #a8a8a8;
  background: #222;
}

[class*="nightmode"] .nav-tabs-custom > .nav-tabs > li.active {
  border-top-color: #6e7375;
}
