@-moz-document domain("github.com") {
body .write-content .drag-and-drop {
    display: block !important;
  }
  body .toolbar-group {
    display: inline-block !important;
    margin-left: 20px !important;
  }
  body .toolbar-group .toolbar-item {
    display: block !important;
  }
  body .toolbar-group .refined-github-upload-btn {
    display: none !important;
  }
  body .upload-enabled textarea {
    border-bottom-style: dashed !important;
    border-bottom-color: #444 !important;
  }
  body .upload-enabled textarea:focus {
    border-bottom-style: dashed !important;
    border-bottom-color: #2188FF !important;
  }
  body .comment-form-textarea {
    min-height: 100px !important;
  }
}