@-moz-document regexp("https?://.*:3000/.*") {
body {
  background-color: #1d1e22;
  color: #888
}
.col-md-4 > div > div,
.col-xs-12 > div > div > button div > div {
  border: 1px solid #000102!important;
  color: #888!important;
  background: #1d1e22!important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)!important
}
#undefined-undefined-Client-22530 div > div,
#undefined-undefined-MininumuploadratekBs-63312,
.col-xs-12 .col-xs-12 > div > div,
.col-xs-12 > div > div > button div div span,
.container-fluid > div > div button div > div,
input {
  color: #888!important
}
._3r2X1lrC_Lb1fFHf07uN4h,
.text-center div > div {
  background: #1d1e22!important;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .75)!important
}
.col-xs-12 .col-xs-12 > div,
.container-fluid > div > div > div > div {
  background-color: #1d1e22!important;
  border-top: 1px solid #000102!important
}

.TOjr3KEWmNGs3IMDawn0c,
label,
div[id^=undefined-undefined-Client] div > div {
  color: grey !important;
}
}
